$clac-text: #00a971;
$clac-primary-dark: #00bd81;
$clac-primary: #00e59d;
$clac-primary-light: #2effaf;
$clck-text: #006dfb;
$clck-primary-dark: #006fff;
$clck-primary: #1a90ff;
$clck-primary-light: #44a5ff;
$lava-text: #b88a00;
$lava-primary-dark: #f0b800;
$lava-primary: #fed736;
$lava-primary-light: #feef5f;
//neutral colors

$black: #000000;
$gray-tint-90: #1a1d23;
$gray-tint-80: #27272a;
$gray-tint-70: #3f3f46;
$gray-tint-60: #52525b;
$gray-tint-50: #71717a;
$gray-tint-40: #a1a1aa;
$gray-tint-30: #d4d4d8;
$gray-tint-20: #e4e4e7;
$gray-tint-10: #f4f4f5;
$gray-tint-5: #fafafa;
$white: #ffffff;
//additional colors

$grape: #854dff;
$lime: #bae52e;
$lollipop: #aa14db;
$ocean: #4652d2;
$sky: #c7e6ff;
//functionsl colors

$carrot: #f79245;
$forest: #23b852;
$hibiscus: #d15d57;
//rgb colors

$red: #e7001d;
$green: #009a38;
$blue: #2b2483;